*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, sans-serif;
}

   .welcomeContainer{
          height:100vh;
          width: 100%;
          position: fixed;
         top: 0;
         background:#101010;
        z-index: 134495995;
        transition:.5s;
        transform-origin: bottom right;
       } 
       .welcomeContainer2 {
         height: 100%;
         width: 100%;
       }
       .welcomeContainer h1 {
         color: teal;
         padding: 10px 20px;
         margin-top: 100px;
       }
       .welcomeContainer h3{
         color: white ;
         padding: 10px 20px ;
       }
      
      .welcomeContainer img{
        height: 100vh;
        width: 100%;
        margin-top: -100px;
        background: none;
       }
      
      .welcomeContainer button {
        padding: 10px 20px;
        background: teal;
        border: none;
        margin-left: 20px;
        margin-top: 10px;
        border-radius: 5px;
        position:absolute ;
        z-index: 1333;
      }
td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
  background: none;
}
a{
  text-decoration: none;
}
#sideOpener{
  height: 50px;
  width: 50px;
    font-size: 10px;
   transform: scale(0.8);
    display: grid;
    place-items: center;
}
  #sideOpener:hover{
    color: teal;
  }
.SideNavigation{
  height:100%;
  width: 70%;
  background:#2c2c2c;
  position: fixed;
  top: 0px;
  left:-100% ;
  transition: .2s ease;
  box-shadow: 0 0 5px 1px black;
  overflow-y: scroll;
  z-index:12344 ;
}
.index{
  height: 50px;
  width: 100%;
  border-bottom: 2px teal solid;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  background: #262626 ;
  z-index: 133;
}
.chapters{
  height: 50px;
  width: 100%;
  background: #2c2c2c;
  display:flex;
  justify-content: flex-start;
  align-items: center;
 font-weight: 500;
  color: #d8d8d8;
}
.chapters p {
     padding: 10px 20px;
     width: 100%;
     transform: scale(0.96);
}
.title{
  height: 55px;
  width: 100%;
  background:#ffffff;
  background-position: center ;
  position:sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 123;
font-size: 20px;
border-bottom: 1px solid gray;
 text-transform:capitalize;
 color: teal;
 transition:.1s;
}
.title p{
 padding: 10px 20px;
 text-align: center;
}
.ContentContainer{
  height: 100%;
  min-width: 100%;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box{
  height: 100%;
  width: 90%;
  margin-top: 20px;
 transition: .5s;
 background:#c7c7c711;
 border-radius: 4px;
 border: 1px solid teal;
  
}

.box p{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 350;
  background: none;
  padding: 10px;

}
.box:hover p{
font-size: bolder;
}
.box h2{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: lighter;
  color:teal  ;
  font-weight: 400;
  background: none;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   text-transform:capitalize;
}
.box button {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
background:teal;
transition: .5s;
box-shadow: 0 0 10px 1px #00000068;
color: white;
}
.box button:hover {
  box-shadow: 0 0 10px 1px #00000068 inset;
}
.box a{
  color: teal;
  text-decoration: none;
}
img{
  height: 100%;
  width: 100%;
 border-radius: 5px;
  
}
#darkMode{
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
       font-size: 10px;
   transform: scale(0.8);
  }
  #darkMode:hover{
    color: teal;
  }
  #randomMode{
       height: 50px;
    width: 50px;
        display: grid;
    place-items: center;
   font-size: 10px;
   transform: scale(0.8);
    
  }
  #randomMode:hover{
    color: teal;
  }
  #home{
        height: 50px;
    width: 50px;
        display: grid;
    place-items: center;
   font-size: 10px;
   transform: scale(0.8);
       font-size: 10px;
   transform: scale(0.8);
  }
  #home:hover{
    color: teal;
  }
   #themes{
        height: 50px;
    width: 50px;
      display: grid;
    place-items: center;  
       font-size: 10px;
   transform: scale(0.8);
  }
  
  #themes:hover{
    color: teal;
  }
.darkMode{
background:#262626;
color:#e5e5e5;
  }
footer{
    height: 100%;
    background: none;
    width: 100%;
   margin-top:30px;
   display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
  }
  footer a {
       padding: 10px 20px;
       color: gray;
  }
  #Poster {
    width: 90%;
    transform: scale(0.9);
  }
  
  .bottom__Nav{
    height: 50px;
    width: 100%;
    background: white;
    position:fixed;
    bottom: 0;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
     transition:.1s;
  }
#darkModeContainer{
  height: 100px; 
  width:100%;
position: fixed;
bottom: 0;
display: none;
justify-content: center;
align-items: center;
z-index: 2839949;
background: white;

}

#darkModeContainer button {
  border: none;
  background: #00808071;
  color: white;
  border-radius: 5px;
  outline: none;
  padding: 10px 30px;
  transform: scale(0.8);
  font-size: 20px;
}


@media only screen and (min-width: 900px)  {
  #containerForRes{
  width:70%;
  float: right;
}
.SideNavigation{
  width: 30%;
  top: 0px;
  left:0;
  box-shadow:none;
}
 .bottom__Nav{
    height:300px;
    width: 50px;
    bottom: 100px;
    right: 20px;
    flex-direction: column;
     border-radius: 10px;
     box-shadow: 0 0 10px 1px #00000073;
  }
#darkModeContainer{
  height: 300px; 
  width:50px;
bottom:100px;
right: 20px;
display: none;
flex-direction: column;
z-index: 2835;
   border-radius: 10px;
     box-shadow: 0 0 10px 1px #00000073;

}
#darkModeContainer button {
  height:50%;
  border: none;
  background: #00808071;
  color: white;
  border-radius: 5px;
  outline: none;
  transform: scale(0.5);
}
  .title  {
    border-bottom: none;
}}
